// Much of the styling and look and feel of this site is based on the 
// materialize css framework. This custom CSS is for minimal adjustments,
// tweaks and overrides

a {
  color: $nav_colour;
}

.btn, .card-action.view-recipe-link {
  background-color: $button_colour;
  color: black;
  transition: all .5s ease-in-out;
  &:hover {
    background-color: $accent_2_colour;
  }
}

label.active {
  color: $accent_2_colour;
}

// Circular left and right sidebar buttons

.sidebar-icon {
  background-color: $accent_1_colour;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  padding:.5rem;
  margin-bottom: 1rem;
  width: 50px;
  transition: all .5s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $accent_1_colour;
    border: 2px solid $accent_1_colour;
  }
}

// Basic colour styling of the top navigation bar

.navbar, .page-footer .footer-copyright {
  background-color: $nav_colour;
}

.navbar-top, .page-footer {
  background-color: $accent_2_colour;
}

// Recipe listing section background - this is used on various pages
// wherever a recipe listing is rendered

.recipe-section {
  background: center top / contain no-repeat url('/static/images/buffet.png');
}

.pagination li.active {
  background-color: $accent_1_colour;
}

.recipe-list-item {
  background-color: rgba(255,255,255,0.95);

  .recipe-list-item-title {
    background-color: rgba($nav_colour, .8);
    border-top-right-radius: 20px;
  }

  .card-content.recipe-list-item-desc {
    background-color: rgba($neutral_colour, .2);
    border-top-right-radius: 20px;
    padding: 10px;
    min-height: 40%;
  }
}

// Basic colour adjustments to the single recipe card element

.card.view-recipe {
  background-color: rgba(white, .95);
}

.view-recipe-message {
  color: $nav_colour;
  padding: 10px 0;
}

.btn-floating.halfway-fab {
  &.recipe-edit{
    right:70px;
    background-color: $accent_1_colour;
  }
  &.recipe-add{
    background-color: $accent_1_colour;
  }
}

.dropdown-content li>a,
.dropdown-content li>span {
  color: $nav_colour;
}

.tabs .tab a.recipe-tab {
  color: rgba($accent_1_colour,.6);
  &.active {
    color: $accent_1_colour;
  }
}

.headline-count {
  background-color: $nav_colour;
  color: white;
  border-radius: 50%;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

// Overide default d3/dc barchart styling so that bar colours
// fall in line with the colour scheme of the wider website

#popular-graph {
  .row:hover {
    cursor: pointer;
  }
  svg {
    $lighten: 0;
    @for $i from 0 through 4 {
      $lighten: $lighten + 5;
      .row._#{$i} rect {
        fill: lighten($nav_colour,$lighten);
      }
      text.row._#{$i} {
        fill: set-text-color(lighten($nav_colour,$lighten));
      }
    }
  }
}
