html, body {
  width: 100%;
  overflow-x: hidden;
}

.navbar-top {
  width: 100%;
  height: 1.5rem;
}

.brand-logo {
  line-height:60px;
  i {
    margin-left: 1rem;
    line-height:60px;
  }
}

.search-icon-label {
  right:0px;
  left:unset !important;
}

.content-row {
  margin-top: 1.5rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
