.brand-logo {
  font-family: $logo-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.recipe-list-item-title,
#popular-graph svg text {
  font-family: $title-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
}

a,
li,
p,
input, textarea {
  font-family: $body-font-family;
}

#popular-graph svg text {
  font-size: 22px;
}
