$nav_colour: rgba(0, 120, 137, 1);
$button_colour: rgba(255, 188, 66, 1);
$neutral_colour: rgba(183, 179, 161, 1);
$accent_1_colour: rgba(254, 153, 32, 1);
$accent_2_colour: rgba(0, 191, 179, 1);
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$logo-font-family: 'Pacifico', cursive;
$body-font-family: 'Overpass', sans-serif;
$title-font-family: 'Courgette', cursive;
