{% extends 'base.html' %}
{% block content %}

<!-- Overall recipe, favourite and user counts - the counts are calculated    -->
<!-- using aggregate queries against the relevant mongo database collections. -->

<div class="row">
  <div class="col s12 m4">
    <h4 class="center-align headline-count">{{count_recipes}}</h4>
    <h5 class="center-align">Recipes</h5>
  </div>
  <div class="col s12 m4">
    <h4 class="center-align headline-count">{{count_favourites}}</h4>
    <h5 class="center-align">Favourites</h5>
  </div>
  <div class="col s12 m4">
    <h4 class="center-align headline-count">{{count_users}}</h4>
    <h5 class="center-align">Users</h5>
  </div>
</div>

<div class="divider"></div>

<div class="row hide-on-large-only section">
  <div class="col s12">
    <h4 class="center-align">Top 5 Recipes</h4>
  </div>
</div>

<!-- The 5 most popular recipes are rendered in this section using -->
<!-- the array popular_recipes which is passed in to this template -->

<div class="row valign-wrapper section">
  <div class="col s12 m6 l6">
    <h4 class="center-align hide-on-med-and-down">Top 5 Recipes</h4>

    <!-- Placeholder used by d3/dc Javascript to render a top 5 barchart -->

    <div id="popular-graph"></div>
  </div>
  <div class="col hide-on-med-and-down l1"></div>

  <div class="col hide-on-small-only m6 l5">
    {% for link in popular_links %}
    {% if loop.index == 1 %}
    <h5 class="center-align"><i class="fas fa-star"></i> Star Recipe...</h5>
    <div class="card grey lighten-3">
      <div class="card-content">
        <h4 class="center-align">{{ popular_recipes[0]['recipe_title'] }}</h4>
        <p class="center-align">favourited by {{ popular_recipes[0]['user_count'] }} users</p>
        <a class="btn-floating halfway-fab waves-effect waves-light" href="{{link|safe}}"><i class="material-icons">link</i></a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="row hide-on-med-and-up">
  <div class="col s12">
    {% for link in popular_links %}
    {% if loop.index == 1 %}
    <h5 class="center-align"><i class="fas fa-star"></i> Star Recipe...</h5>
    <div class="card grey lighten-3">
      <div class="card-content">
        <h4 class="center-align">{{ popular_recipes[0]['recipe_title'] }}</h4>
        <p class="center-align">favourited by {{ popular_recipes[0]['user_count'] }} users</p>
        <a class="btn-floating halfway-fab waves-effect waves-light" href="{{link|safe}}"><i class="material-icons">link</i></a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
