{% extends 'base.html' %}
{% block content %}
<h3 class="center-align">{{ page_title }}</h3>
<div class="row recipe-section">
{{ pagination.links }}
{% for recipe in recipes %}
  {% if loop.index-1 >= (page-1) * per_page and loop.index-1 < per_page + (page-1) * per_page %}
  <div class="col s12 m6 l4">
    <div class="card small recipe-list-item">
      <div class="card-image recipe-list-item-image">
        <img src="{{url_for('static',filename='images/'+recipe.image_url)}}">
        <span class="card-title recipe-list-item-title">{{recipe.recipe_title}}</span>
      </div>
      <div class="card-content recipe-list-item-desc">
        <p>{{recipe.recipe_description}}</p>
      </div>
      <a class="center-align" href="{{url_for('view_recipe', recipe_id=recipe._id)}}"><div class="card-action view-recipe-link">
        View Recipe
      </div></a>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
{% endblock %}
