{% extends 'base.html' %}
{% block content %}
<div class="recipe-section">
    <div class="card view-recipe">
      <div class="card-content">
        <h3>{{recipe.recipe_title}}</h3>
        <h5>{{recipe.category_name|title}} / {{recipe.subcategory_name|title}}</h5>
        <div class="row">
          <div class="col m12 l4 xl6">
            <p>{{recipe.recipe_description}}</p>
            <hr>
            <h6>Preparation:</h6>
            <ul>
            {% for item in recipe.recipe_steps %}
            <li>{{item}}</li>
            {% endfor %}
            </ul>
          </div>
          <div class="col m12 l8 xl6">
            <img class="responsive-img" src="{{url_for('static',filename='images/'+recipe.image_url)}}" alt="recipe-image">
          </div>
        </div>
        <a href="{{url_for('add_favourite', recipe_id=recipe._id)}}" class="btn-floating halfway-fab waves-effect waves-light recipe-add">
          <i class="material-icons">star</i>
        </a>
        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-floating halfway-fab waves-effect waves-light recipe-edit">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a class="active recipe-tab" href="#ingredients">Ingredients</a></li>
          <li class="tab"><a class="recipe-tab" href="#times">Duration</a></li>
          <li class="tab"><a class="recipe-tab" href="#author">Author</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="ingredients">
          <ul>
          {% for item in recipe.ingredients %}
          <li>{{item}}</li>
          {% endfor %}
          </ul>
        </div>
        <div id="times">
          <h5>Cooking time: {{recipe.cooking_time}}</h5>
          <h5>Preparation time: {{recipe.preparation_time}}</h5>
        </div>
        <div id="author"><h5>{{recipe.recipe_author}}</h5></div>
      </div>
    </div>
    <h4 class="center-align view-recipe-message">{{message}}</h4>
</div>
{% endblock %}
